PORT=3000
APP_URL=http://localhost:${PORT}

DATABASE_USER=user
DATABASE_PASSWORD=secretpassword
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=db
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public"

AWS_ACCESS_KEY_ID=ADMIN
AWS_SECRET_ACCESS_KEY=PASSWORD
AWS_REGION=us-east-1
AWS_S3_BUCKET=chronos
AWS_S3_ENDPOINT=http://localhost:9000

DEFAULT_AVATAR_PATH=/avatars/default.jpg